
.text-area {
  -fx-font-family: monospace ;
  -fx-font-size: 12pt ;
}

.sourceError  .scroll-pane .content {
  -fx-background-color: #FFC0CB ;  /* pink */
}

#drawingArea {
  -fx-background-color: #fff ;
}

.actor-box {
  -fx-stroke: black ;
  -fx-stroke-width: 2 ;
  -fx-fill: antiquewhite ;
}

.actor-line {
  -fx-stroke: darkgray ;
  -fx-stroke-width: 2 ;
}

.actor-arrow {
  -fx-stroke: black ;
  -fx-stroke-width: 2 ;
}
