
.text-area {
  -fx-font-family: monospace ;
  -fx-font-size: 12pt ;
}

.sourceError  .scroll-pane .content {
  -fx-background-color: #FFC0CB ;  /* pink */
}

#drawingArea {
  -fx-background-color: #fff ;
}

.actor-box, .note-box {
  -fx-stroke: black ;
  -fx-stroke-width: 2 ;
  -fx-fill: antiquewhite ;
}

.actor-lane {
  -fx-stroke: darkgray ;
  -fx-stroke-width: 4 ;
}

.arrow-solid {
  -fx-stroke: black ;
  -fx-stroke-width: 2 ;
}
.arrow-dashed {
  -fx-stroke: black ;
  -fx-stroke-width: 2 ;
  -fx-stroke-dash-array: 6 4  ;
  -fx-stroke-dash-offset: 0 ;
}

.text-backing {  /* translucent backing for arrow text */
  -fx-background-color: rgba(255,255,255,0.7);
}
